div{
    height: 200px;
    width: 300px;
     background-color: pink;
    /*border-width: 5px;  /* How much width 
    border-style: solid;     /* it is simple line solid
    border-color: black;  border color */

    border: 5px solid black;
    border-left-color:blue ;
    border-left-style:dashed;

    border-top:5px dotted rgb(255, 0, 0);

    border-bottom: 5px double green;

    border-right: 5px groove yellow ;
    

    /* border-top-right-radius: 50px; */
    border-radius: 15px;
   
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom:10px;
    
    /* margin-bottom: 25px;
    margin-left: 25px; */
    margin: 20px 30px 40px 50px;
}

h1{
/*  border-width: 2px;
    border-style: dashed; /* it is line dashed(----)
    border-color: green; */
    border:2px dashed green;
    margin: 0;
}
button{
     border: 2px solid brown;
     border-radius: 10px;
     /* padding-left:25px ;
     padding-right: 25px; */
     padding: 0px 25px 0px 25px;
     background-color: greenyellow;
}




