*{
    font-family: 'Courier New';
}
h1,h3{
    
    color: #b92b27
}
#login{
    background-color: white;


}
#signup{
 background-color:#b92b27 ;  
 color: white; 
}
.upvote{
    background-color: green;
    color: aliceblue;

}
.follow{
    background-color: yellow;
    text-decoration: underline red;
}
nav a {
    color: hotpink;

}
p+h3{
    text-decoration: underline;
}
.upvote+button
{
    background-color: cornflowerblue;
    color:darkblue
}
div>input
{
    background-color: darksalmon;
}
input[type="text"]
{
    color:red;
}
input[type="password"]
{
    color:green;
}
input[type]
{
    background-color: ghostwhite;
}
button:hover{
    background-color: black;
    color: white;
}
h3:hover{
    text-decoration: overline;
}
button:active{
    background-color:hotpink;
    color: black;
}
p:active{
    font-weight: bold;
    color: green;
}
input[type="radio"]:checked+label{
    color:red;
    font-weight: bold;
}
p:nth-of-type(2n){
    background-color: blanchedalmond;

}







