<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>here is your post details</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Here is post in details</h1>

    <p> post id : <%= post.id %></p>
    <div class="post">
        <h3 class="user">@<%= post.username %></h3>
        <h4 class="content"><%= post.content %></h4>
    </div>
    
</body>
</html>