<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
<h1>This is home page</h1>
<h3><%= ["coder","pandey"][0]  %></h3>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Qui minima eligendi nam a esse ducimus tempora, exercitationem velit at consequuntur. Neque quidem illum unde ut! At sint reiciendis quam minus.</p>
    
<button>click me</button>
</body>
</html>