<%- include("includes/head.ejs") %>
<body>
    <h2> Welcome to our page....</h2>
    <h1>
        roll dice equal to  :
        <%= num %>
    </h1>
    <% if(num==6) {  %>

        <h2>Nice ! Roll dice again</h2>
        <% } %>

        <%- include("includes/footer.ejs") %>
</body>
</html>


