<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChatsApp</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <h1>All chats</h1><br>

   <% for(chat of chats)
{ %>

    <div class="chat"> 
        <p>From : <%= chat.from %></p>
        <div class="msg">
            <p><%= chat.msg %></p>
            </div>
        </div>
       
        <p>Received : <%= chat.to %> </p>
         <hr>
        </div>
        <br><br>
<% } %>

    
</body>
</html>

