<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add new blog</title>
</head>
<body>

    <form method="post" action="/blogs" enctype="multipart/form-data">
        <input placeholder="enter content" name="content"><br>
        <input placeholder="enter title" name="title"><br>
        <input placeholder="enter info" name="info"><br>

        <input type="file" name="image" accept="image/*"><br>

        <button>submit blog</button>

    </form>

    
</body>
</html>