div{
    height: 200px;
    width: 200px;
    background-color: rgba(76, 255, 0, 0.812);
    transition-duration: 2s ;
    margin: 0 auto;
    margin-top: 20px;

}

div:hover{
    background-color:gold;
    border-radius: 50%;
    margin-top: 400px;
    transform:rotate(360deg);
}

